PORT=3000
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_DATABASE=tubes_rpll

# JWT Secret Key
JWT_SECRET = "your_jwt_secret_key"

# QR_PUBLIC_KEY
QR_PUBLIC_KEY="your_qr_public_key"

# Check_In Hour (07:00)
MONDAY = 420 
TUESDAY = 420
WEDNESDAY = 420
THURSDAY = 420
FRIDAY = 420