# API Configuration
EXPO_PUBLIC_API_BASE_URL=http://192.168.18.20:3000

# Token Configuration
EXPO_PUBLIC_TOKEN_STORAGE_KEY=auth_token
EXPO_PUBLIC_JWT_ALGORITHM=HS256

# Debug mode
EXPO_PUBLIC_DEBUG_MODE=false
